header {
  background-image: url('header-pic.JPG');
  background-repeat: no-repeat;
  background-size: 100%;
  width: auto;
  height: 300px;
  position: relative;
}
header h1 {
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: absolute;
  top: 15px;
  left: 40px;
}
nav {
  background-color: #403c3cee;
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 30px;
}
nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
nav li {
  display: inline-block;
  margin-right: 35px;
  padding-top: 5px;
}
nav a {
  color: #f0f7fa;
  text-decoration: none;
}
nav a:hover {
  color: #9c9a9a;
}
nav a:active {
  color: #5b88e7;
}
.topics {
  width: 100%;
  text-align: center;
}
.card {
  border: 1px solid black;
  background-color: #9c9a9a;
  display: inline-block;
  margin: 25px;
  width: 150px;
}
.card img {
  height: 100px;
  width: 100%;
}
.card p {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
}
footer {
  background-color: #403c3cee;
}
footer p {
  color: #f0f7fa;
  height: 50px;
  text-align: center;
}
/* margins and padding: top, right, bottom, left */
